<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
		<rewrite>
            <rules>
                <clear />
             
			 <rule name="Redirect0" stopProcessing="true">
                    <match url="^([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)\/$" />
                    <action type="Rewrite" url="index.php?fid={R:1}&amp;sid={R:2}&amp;tid={R:3}&amp;foid={R:4}&amp;fiid={R:5}" appendQueryString="false" />
                </rule>
			    <rule name="Redirect1" stopProcessing="true">
                    <match url="^([^/]*)/([^/]*)/([^/]*)/([^/]*)\/$" />
                    <action type="Rewrite" url="index.php?fid={R:1}&amp;sid={R:2}&amp;tid={R:3}&amp;foid={R:4}" appendQueryString="false" />
                </rule>
                <rule name="Redirect2" stopProcessing="true">
                    <match url="^([^/]*)/([^/]*)/([^/]*)\/$" />
                    <action type="Rewrite" url="index.php?fid={R:1}&amp;sid={R:2}&amp;tid={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Redirect3" stopProcessing="true">
                    <match url="^([^/]*)/([^/]*)\/$" />
                    <action type="Rewrite" url="index.php?fid={R:1}&amp;sid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Redirect4" stopProcessing="true">
                    <match url="^([^/]*)\/$" />
                    <action type="Rewrite" url="index.php?fid={R:1}" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="default.htm" />
                <add value="Default.asp" />
                <add value="Default.aspx" />
                <add value="home.html" />
                <add value="home.htm" />
                <add value="index.htm" />
                <add value="index.wml" />
                <add value="index.xhtml" />
                <add value="index.xht" />
                <add value="default.wml" />
                <add value="default.xhtml" />
                <add value="default.xht" />
                <add value="home.wml" />
                <add value="home.xhtml" />
                <add value="home.xht" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    </system.webServer>
</configuration>
